<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Captain's Log...</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body data-ng-app="capLogsApp">
  <img src="img/logo.png" align="center">
  <main data-ng-controller="capLogsController" data-ng-init="getAll()">
    <h1>Captain's Logs</h1>
    <form name="newLogName">
      <label for="newLogBody">
        <p>I am, Captiain... JamesTKirkof...the, Starship; Enterprise.</p>
        <p>These... are, my... ... ...logs.</p>
      </label>
      <input type="text" id="newLogBody" data-ng-model="newLog.capLogBody">
      <button type="submit" data-ng-click="create(newLog)">Save New Log</button>
    </form>
    <ul data-ng-repeat="capLog in capLogs">
      <li>
        {{capLog.capLogBody}}
        <form data-ng-if="capLog.editing">
          <label for="capLog{{capLog._id}}">Edit Log</label>
          <input type="text" id="capLog{{capLog._id}}" data-ng-model="capLog.capLogBody">
          <button type="submit" data-ng-click="save(capLog)">Save Changes</button>
          <button type="button" data-ng-click="editToggle(capLog)">Cancel</button>
        </form>
        <button data-ng-click="editToggle(capLog)" data-ng-if="!capLog.editing">Edit Log</button>
        <button data-ng-click="remove(capLog)">Delete Log</button>
      </li>
    </ul>
  </main>

  <script src="bundle.js"></script>
</body>
</html>
